[Unit]
Description=Ethereum go client

[Service]
Type=simple
ExecStartPre=/etc/geth.service/init.sh
ExecStart=/etc/geth.service/run.sh

[Install]
WantedBy=default.target